* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  color: #010101;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
}
body #heading {
  text-align: center;
  margin: 2rem;
  font-family: monospace;
  font-size: 2rem;
}
body .translateCard {
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin: 2rem;
}
body .translateCard h4 {
  text-align: center;
  font-size: 1rem;
}
body .translateCard #input {
  margin: 2rem;
  margin-left: 0;
  width: 100%;
}
body .translateCard #submit {
  width: 100%;
}
body #output {
  text-align: center;
  margin: 1rem;
  width: 90vw;
  font-size: 1.5rem;
}