* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  color: #010101;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;

  #heading {
    text-align: center;
    margin: 2rem;
    font-family: monospace;
    font-size: 2rem;
  
  }

  .translateCard {
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin: 2rem;

    h4 {
      text-align: center;
      font-size: 1rem;
    }

    #input {
      margin: 2rem;
      margin-left: 0;
      width: 100%;
    }

    #submit {
      width: 100%;
    }
  }
  #output {
    text-align: center;
    margin: 1rem;
    width: 90vw;
    font-size: 1.5rem;
    
  }
}
